@inherits LayoutComponentBase

<div class="page" style="background-color:#EEEEEE">
    <div style="background-image:none;background-color:#0077bb;" class="sidebar">
        <NavMenu />
    </div>

    <div class="main" style="background-color:#EEEEEE">
        <div class="top-row px-4" style="background-color:#EEEEEE">
            <a href="https://www.ecocomputer.com/" target="_blank" class="ml-md-auto">Ecocomputer</a>
        </div>
        <div class="container" >
            @Body
        </div>
    </div>
</div>
